<%= form_with(model: inventary, local: true) do |form| %>
  <% if inventary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventary.errors.count, "error") %> prohibited this inventary from being saved:</h2>

      <ul>
      <% inventary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
